/* *Colores */
/*
    Fondo general: #F8F4EE
    Fondo de elementos primario: #1E1810
    Café bajito sand: #C8B89A
    Café discreto: #5A4A38
    Negro semitransparente: rgba(255,255,255,0.07)
    Naranja: #e26d5c
*/

.grisFondo {
    background:  #F8F4EE;
}

.cafePrincipal {
    background: #1E1810;
    color: white;
}

.txtColorCafeDiscreto {
    color: #5A4A38;
}

.borderCafeDiscreto {
    border-bottom: solid 1px #C8B89A !important;
}

/* *Estilos para NAV */
.elementoActual {
    background-color: rgba(255,255,255,0.07);
}

nav li:hover a {
    color: #e26d5c !important;
}

/* * Tabla de libros */

.seccionBordes {
    margin: 1% 2%;
    /* padding: 2%; */
    border-radius: 25px;
}
/* Titulo de sección */
.tituloTabla {
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    color: #5A4A38;
}

span a {
    color: #e26d5c;
    text-decoration: none;
}

/* Contenido en sí */
.estadoLibro {
    background-color: #ffc38b89;
    padding: 5px;
    border-radius: 10px;
}

.estadoLibro span {
    color: #e2af5c;
}

.iconoBoton {
    height: 16px;
}