/* *Color para fondos: background */
/*
    Fondo general: #F8F4EE
    Fondo de elementos primario: #1E1810
*/

.grisFondo {
    background:  #F8F4EE;
}

.cafePrincipal {
    background: #1E1810;
    color: white;
}

/* *Color para texto: color */
/*
    Texto discreto café: #5A4A38
*/

.txtColorCafeDiscreto {
    color: #5A4A38;
}

/* *Estilos para NAV */
.elementoActual {
    background-color: rgba(255,255,255,0.07);
}

nav li:hover a {
    color: #e26d5c !important;
}

