.grisFondo {
    background:  #F8F4EE;
}

.cafePrincipal {
    background: #1E1810;
    color: white;
}


/* Estilos para NAV */
.elementoActual {
    background-color: rgba(255,255,255,0.07);
}

nav li:hover {
    background-color: #723d46;
    color: #e26d5c;
}